<div class="text-center">
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <textarea name="text" id="comment" cols="30" rows="10"></textarea>
  <p>
    <a href="/edit/{{project.id}}" class="btn btn-primary" data-id ="{{data-id}}" >comment</a>
    {{!-- <button href="/edit/{{project.id}}" class="btn btn-primary" data-id ="{{data-id}}" >edit</button> --}}
  </p>
</div>


{{!-- onclick="edit" --}}

{{!-- <script src="/js/edit.js"></script> --}}